.header
  max-width 1280px
  margin 0 auto
  padding 20px 0
  .logo
    margin 0
    text-align center
    a
      text-decoration none
      display inline-block
    svg
      fill white
      width 200px
