html
body
:global(#app)
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  overflow hidden

body
  font 200 14px/21px 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif
  background-color #5D534D
  color white

.main
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  overflow-y auto
